#basic
python-decouple

#telegram-api
telethon
telethon-tgcrypto
cryptg

#database
motor
pymongo
pymongo[srv]
dnspython

#thumbnail
telegraph
Pillow>=5.3.0

#uploading
aria2p 
mega.py 
gdown
beautifulsoup4
requests

#helper
ethon
