#basic
python-decouple

#telegram-api
telethon
telethon-tgcrypto
cryptg

#database
motor
pymongo >=3.12,<4
dnspython

#thumbnail
telegraph
Pillow>=5.3.0

#heroku
heroku3 #just for restart

#uploading
gdown #for gdrive 
aria2p #magnet
bs4 #scrapping
urllib
requests
humanize #scrapping 

#helper
ethon==1.2.7 
