#basic
python-decouple

#telegram-api
telethon
telethon-tgcrypto
cryptg

#database
pymongo
motor
pymongo[srv]
dnspython

#thumbnail
telegraph
Pillow>=5.3.0

#heroku
heroku3 #just for restart

#uploading
gdown #For gdrive 
mega.py #for mega files
ethon==1.2.7 #for weburl and ytdlp
git+https://github.com/Juvenal-Yescas/mediafire-dl #for mediafire files
aria2p #magnet

